<div class="container-fluid projectPage">
    <div class="row pt-3  justify-content-center">
      <div class="card-deck col-md-4">
        <div class="card  text-white text-bg-dark mb-3  mx-1 " >
          <div class="card-header"><h4>PREMIER LEAGUE PREDICTION</h4></div>
          <div class="card-body">
            <div class="d-flex ">
              <h5 class="card-title px-3">Technologies </h5>
              <span>Tableau, Angular, Python</span>
            </div>
            <p class="card-text">A visualisation dashboard is created in Tableau using the data from the past 5 seasons of premier league football. In addition to it an application using Angular, HTML and CSS is created.</p>
            
          </div>
          <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-info" data-bs-target="#premierLeagueModal" data-bs-toggle="modal">View Details</button>
          </div>
        </div>
      </div>
        <div class="card-deck col-md-4">
          <div class="card  text-white bg-dark mb-3  mx-1" >
            <div class="card-header"><h4>LABOUR MARKET ANALYSIS</h4> </div>
            <div class="card-body">
              <div class="d-flex ">
                <h5 class="card-title px-3">Technologies </h5>
                <span>Tableau, Power BI</span>
              </div>
              <p class="card-text">A visualisation using Tableau is created for top 5 countries from each continent is utislised to understand the labour market in the chosen countries. Anouther dashboard using the same data is created in POWER BI tool too. ETL is performed initially before loading the dataset to tableau.</p>
              <div class="card-footer d-flex justify-content-center">
                <button type="button" class="btn btn-info" data-bs-target="#labourMarketModal" data-bs-toggle="modal">View Details</button>
              </div>
            </div>
          </div>
        </div>
          <div class="card-deck col-md-4">
            <div class="card  text-white bg-dark mb-3 mx-1" >
              <div class="card-header"><h4>SENTIMENT ANALYSIS</h4> </div>
              <div class="card-body">
                <div class="d-flex ">
                  <h5 class="card-title px-3">Technologies </h5>
                  <span>Python</span>
                </div>
                <p class="card-text">Sentiment analysis is performed using python for reviews received for different restaurants in Thailand.</p>
                <div class="card-footer d-flex justify-content-center">
                  <button type="button" class="btn btn-info" data-bs-target="#sentimentModal" data-bs-toggle="modal">View Details</button>
                </div>
              </div>
            </div>
          </div>
          
    </div>

    <div class="row pt-2 px-2 d-flex justify-content-center">
      <div class="card-deck col-md-4">
        <div class="card  text-white bg-dark mb-3 mx-2" >
          <div class="card-header"><h4>DREAM 11 APP</h4></div>
          <div class="card-body">
            <div class="d-flex ">
              <h5 class="card-title px-3">Technologies </h5>
              <span>Angular 6, HTML, CSS</span>
            </div>
            <p class="card-text">An angular application is created to keep track of whose winning the league among 3 friends. Angular material is used for styling the components in the application.</p>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-info" data-bs-target="#dream11Modal" data-bs-toggle="modal">View Details</button>
          </div>
          </div>
        </div>
      </div>
        <div class="card-deck col-md-4">
          <div class="card  text-white bg-dark mb-3 mx-2" >
            <div class="card-header"><h4>BUDGET CALCULATOR</h4></div>
            <div class="card-body">
              <div class="d-flex ">
                <h5 class="card-title px-3">Technologies </h5>
                <span>Angular 2+, Angular Material</span>
              </div>
              <p class="card-text">A small angular application that keeps track of budget of a personal is developed. This app was created to study the basics of Angular.</p>
              <div class="card-footer d-flex justify-content-center">
              <button type="button" class="btn btn-info" data-bs-target="#budgetModal" data-bs-toggle="modal">View Details</button>
            </div>
            </div>
          </div>
        </div>
         <div class="card-deck col-md-4">
          <div class="card  text-white bg-dark mb-3 mx-2" >
            <div class="card-header"><h4>PORTFOLIO APP</h4></div>
            <div class="card-body">
              <div class="d-flex ">
                <h5 class="card-title px-3">Technologies </h5>
                <span>Angular 16, Bootstrap</span>
              </div>
              <p class="card-text">An app that keeps track of all my works related to the technologies that I have learned over these years is developed using Angular 16 and Bootstrap.</p>
              <div class="card-footer d-flex justify-content-center">
              <button type="button" class="btn btn-info" data-bs-target="#portfolioModal" data-bs-toggle="modal">View Details</button>
            </div>
            </div>
          </div>
         </div>
          
    </div>

    <div class="row pt-2 px-2 d-flex justify-content-center ">
      <div class="card-deck col-md-4">
        <div class="card  text-white bg-dark mb-3 mx-2" >
          <div class="card-header"><h4>SALES AND REVENUE</h4></div>
          <div class="card-body ">
            <div class="d-flex ">
              <h5 class="card-title px-3">Technologies </h5>
              <span>Power BI, SQL</span>
            </div>
            <p class="card-text">A visualisation dashboard using POWER BI is developed to understand the sales and revenue of a start up company. The ETL was performed in SQL such that all the null values were either removed or replaced with some meaningful values after careful examination.</p>
            <div class="card-footer d-flex justify-content-center">
            <button type="button" class="btn btn-info" data-bs-target="#salesAndRevenueModal" data-bs-toggle="modal">View Details</button>
          </div>
          </div>
        </div>
      </div>
        <div class="card-deck col-md-4">
          <div class="card  text-white bg-dark mb-3 mx-2" >
            <div class="card-header"><h4>BUY AND SELL</h4></div>
            <div class="card-body ">
              <div class="d-flex ">
                <h5 class="card-title px-3">Technologies </h5>
                <span>Angular 2+</span>
              </div>
              <p class="card-text">A small angular application for buying and selling products similar to many apps in the market in created. </p>
              <div class="card-footer d-flex justify-content-center">
                <button type="button" class="btn btn-info" data-bs-target="#buyAndSellModal" data-bs-toggle="modal">View Details</button>
              </div>
            </div>
          </div>
        </div>
          
    </div>



    
</div>

<!-- premier League Modal -->
<div class="modal" id="premierLeagueModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">PREMIER LEAGUE PREDICTION</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/premierleague1.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item ">
              <img src="../../assets/premierleague2.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item ">
              <img src="../../assets/premierleague3.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="../../assets/premierleague4.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item ">
              <img src="../../assets/premierleague5.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item ">
              <img src="../../assets/premierleague6.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item ">
              <img src="../../assets/premierleague7.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item ">
              <img src="../../assets/premierleague8.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item ">
              <img src="../../assets/premierleague9.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item ">
              <img src="../../assets/premierleague10.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item ">
              <img src="../../assets/premierleague11.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item ">
              <img src="../../assets/premierleague12.jpg" class="d-block w-100">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Labour Market Modal -->
<div class="modal" id="labourMarketModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Sentiment Modal -->
<div class="modal" id="sentimentModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Dream 11 Modal -->
<div class="modal" id="dream11Modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Budget Modal -->
<div class="modal" id="budgetModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- portfolio Modal -->
<div class="modal" id="portfolioModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Sales and Revenue Modal -->
<div class="modal" id="salesAndRevenueModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Buy and Sell Modal -->
<div class="modal" id="buyAndSellModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>