<div class="container-fluid wallpaper px-0 h-100 d-inline-block">
  <div class="text-bg-secondary p-3 bodyPage">
    <div class="row g-0 vh-80 d-flex flex-row bd-highlight pt-3 px-3">
      <div class="col details mt-3">
        <span class="text fs-3 ">Hi <i class="bi bi-person-raised-hand"></i></span>
        <br>
        <div class="text fs-3">My name is Vishakhan</div>
        <div class="text fs-3">I'm a Data Scientist / Web developer</div>
        <br>
        <br>
        <div class="text fs-5">
          Crafting Code, Creating Connections: Where Web Dreams Come Alive!
        </div>
      </div>
      <div class="col">
        <img
          src="../../assets/devPic.jpg"
          height="200"
          width="200"
          alt="image"
        />
      </div>
    </div>
    <div class="row pt-5 px-3">
      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-lg">About Me</button>
      </div>
      <div class="row pt-3 px-3">
        <div class="col-md-12">
            <i class="bi bi-github px-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"></i>
            <i class="bi bi-linkedin px-3"></i>
            <i class="bi bi-browser-chrome px-3"></i>
          
        </div>
    </div>
    <div class="row g-0 vh-80 d-flex flex-row bd-highlight mb-3 pt-3 px-3 mt-5">
      <div class="col">
        <span class="numberInfo fs-4">4.5 </span>
        <span class="text fs-4">Years of Experience</span>
      </div>
      <div class="col">
        <span class="numberInfo fs-4">12 </span>
        <span class="text fs-4">Projects Completed</span>
      </div>
      <div class="col d-flex flex-row">
        <span class="images px-2"
          ><img
            src="../../assets/angular.png"
            alt="Angular"
            height="100"
            width="100"
        /></span>
        <span class="images px-2"
          ><img
            src="../../assets/js_icon.jpg"
            alt="Javascript"
            height="100"
            width="100"
        /></span>
        <span class="images px-2"
          ><img
            src="../../assets/powerbi.png"
            alt="Power Bi"
            height="100"
            width="100"
        /></span>
        <span class="images px-2"
          ><img src="../../assets/sql.png" alt="SQL" height="100" width="100"
        /></span>
        <span class="images px-2"
          ><img
            src="../../assets/tableau.png"
            alt="Tableau"
            height="100"
            width="100"
        /></span>
      </div>
    </div>
  </div>
</div>
