.wallpaper{
    background-image: url("../../assets/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 84vb;
    padding-top: 3rem;
}

.titleCard{
    background-color: mediumpurple;
}

.details{
    text-align: center;
}

.numberInfo{
    font-size: 45px;
    color: blueviolet;
    font-family: fantasy;
    font-style: normal;
}

.text{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: gold;
}

.images{
    margin: 10px;
}

.activated{
    text-decoration: underline;
}
