<div class="container-fluid wallpaper px-0">
  
  <div class="row g-0 vh-80 d-flex flex-row bd-highlight pt-3 px-3">
    <div class="col details mt-3">
      <span class="text">Hi <i class="bi bi-person-raised-hand"></i></span>
      <div class="text">My name is Vishakhan</div>
      <div class="text">I'm a developer</div>
      <div class="text">I build things for web.</div>
    </div>
    <div class="col">
      <img src="../../assets/devPic.jpg" height="200" width="200" alt="image" />
    </div>
  </div>
  <div class="row g-0 vh-80 d-flex flex-row bd-highlight mb-3 pt-3 px-3 mt-5">
    <div class="col">
      <span class="numberInfo">4.5 </span>
      <span class="text">Years of Experience</span>
    </div>
    <div class="col">
      <span class="numberInfo">12 </span>
      <span class="text">Projects Completed</span>
    </div>
    <div class="col d-flex flex-row">
      <span class="images"
        ><img
          src="../../assets/angular.png"
          alt="Angular"
          height="100"
          width="100"
      /></span>
      <span class="images"
        ><img
          src="../../assets/js_icon.jpg"
          alt="Javascript"
          height="100"
          width="100"
      /></span>
      <span class="images"
        ><img
          src="../../assets/powerbi.png"
          alt="Power Bi"
          height="100"
          width="100"
      /></span>
      <span class="images"
        ><img src="../../assets/sql.png" alt="SQL" height="100" width="100"
      /></span>
      <span class="images"
        ><img
          src="../../assets/tableau.png"
          alt="Tableau"
          height="100"
          width="100"
      /></span>
    </div>
  </div>
</div>
